<footer class="w-full flex justify-center items-center p-4">
  <a
    class="w-fit h-fit flex justify-center items-center space-x-2 opacity-80 hover:opacity-100 transition-opacity ease-out"
    href=""
  >
    <img class="w-5 h-5" src="/author-logo.png" alt="" />
    <span class="text-sm font-semibold">@AlkenDester</span>
  </a>
</footer>
