<div class="w-full">
  <nav
    class="max-w-4xl w-full mx-auto text-sm flex justify-between items-center"
  >
    <div class="flex items-center">
      <div class="w-12 aspect-square p-2">
        <img class="w-full h-full" src="/logo.png" alt="" />
      </div>
      <span class="font-semibold">AwePlayer</span>
    </div>
    <ul class="flex space-x-2 items-center">
      <li>
        <img
          height="16"
          width="16"
          src="https://cdn.simpleicons.org/github/white"
        />
      </li>
      <li>GitHub</li>
      <li>GitHub</li>
    </ul>
  </nav>
</div>
