---
import SveltePlayer from "../examples/SveltePlayer.svelte";
import Layout from "../layouts/HomeLayout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <SveltePlayer client:load />
  </main>
</Layout>
